img {
  border-radius: 50%;
  image-resolution: 5px;
}

h4 {
  margin-top: 10px;
  font-family: 'Indie Flower', cursive;
}


/* .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
} */
.jumbotron{
  text-align: center;
  background-color:black;
  color:white;
  opacity: 0.9;

}
