<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
<div class="container">
  <div class="search-container">
    <form>
      <input type="text" placeholder="Search.." name="get" #get id='search'>
      <input type='button' (click)='Search(get)' id='btn' value='Search'>
    </form>
  </div>
</div>

 <div class='jumbotron'>
  <p>{{this.user.search.login}}</p>
  <img src='{{this.user.search.avatar_url}}'>
<hr>
<h4>Github_Repositories</h4>
  <div *ngFor='let search of searchs; let i=index'>
    <ul>
      <li>{{search.rist.full_name}}</li>
      <li>{{search.rist.description}}</li>
      <a href='{{search.rist.html_url}}'>Live Link</a>
    </ul>
  </div>
</div>
<!-- <div *ngFor='let search of searchs; let i=index'>
    <p>{{this.search.rist.full_name}}</p>
    <p>{{this.search.rist.description}}</p>
    <a href='{{this.search.rist.html_url}}'>Live-Link</a>
</div -->
